@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="pb-2">
        <a asp-action="Index">
            @ViewData["Title"]
        </a>
    </h2>
</div>
