<div class="card shadow-sm">
    <div class="card-header">
        Quick links
    </div>
    <div class="card-body">
        <p>The network</p>
        <ul>
            <li>
                <a target="_blank" href="https://theflorencenetwork.coventry.domains/">The Florence Network Homepage</a>
            </li>
        </ul>
        <p>Account</p>
        <ul>
            <li>
                <a asp-area="Identity" asp-page="/account/manage/index">Change avatar</a>
            </li>
            <li>
                <a asp-area="Identity" asp-page="/account/manage/profile">Change profile</a>
            </li>
        </ul>
    </div>
</div>
