@page
@model IndexModel
@{
    ViewData["Title"] = "Change avatar";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row mt-4">
    <div class="col-md-9">
        <p>
            <img src="@Url.Content(@Model.AvatarUrl)" alt="Avatar" title="Current avatar" width="250" />
        </p>
        @if (!string.IsNullOrEmpty(Model.Avatar))
        {
            <form method="post">
                <input type="hidden" name="delete" value="true" />
                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Delete avatar</button>
                </div>
            </form>
        }
        <form id="avatar-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" readonly class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" readonly class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Input.StreetAddress"></label>
                    <textarea asp-for="Input.StreetAddress" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input asp-for="Input.Image">
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
